@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

body {
	font-family: "Roboto", sans-serif;
}

/* About section */

.about {
    display: flex;
	align-items: center;
	padding: 50px 50px;
	background-color: #4c758c;
	background-image: -webkit-linear-gradient(-80deg, #4c758c 50%, white 50%);
}

.about > img {
    object-fit: cover;
    width: 400px;
    height: 400px;
}

.about > div {
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	background-color: aliceblue;
}

.about h1 {
	font-family: "Playfair Display", serif;
	font-size: 48px;
	padding-bottom: 10px;
}

.about p {
	font-size: 20px;
	padding-bottom: 10px;
}

.social {
	float: right;
}

.social > :first-child {
	padding-right: 5px;
}

.social img {
    width: 35px;
    height: auto;
}

/* My work */

.work {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	column-gap: 15px;
	row-gap: 15px;
	padding: 10px 40px;
}

.work h1 {
	font-family: "Playfair Display", serif;
	grid-column: 1 / -1;
	font-size: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.project {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.screenshot {
	object-fit: cover;
	width: 100%;
	height: 200px;
}

.project h2 {
	font-family: "Playfair Display", serif;
	font-size: 20px;
}

.nameLinkRow {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 5px;
	padding-bottom: 5px;
}

.project p {
	font-size: 16px;
	padding-bottom: 7px;
}

.nameLinkRow, .project p {
	padding-left: 7px;
	padding-right: 7px;
}

.projectLink {
	display: flex;
}

.projectLink > :first-child {
	padding-right: 1px;
}

.project svg {
	width: 20px;
	height: auto;
}

/* Contact me */

.contact {
	background-color: #4c758c;
	margin-top: 50px;
	padding: 40px;
	color: white;
}

.contact h1 {
	font-size: 36px;
	padding-bottom: 10px;
}

.contact > p {
	font-size: 20px;
	padding-bottom: 15px;
}

.phone, .email {
	display: flex;
	font-size: 16px;
	padding-bottom: 10px;
}

.email {
	padding-bottom: 15px;
}

.phone svg, .email svg {
	width: 20px;
	height: auto;
	margin-right: 7px;
}

.contactSocial svg {
	width: 20px;
	height: auto;
}

.contactSocial > :first-child {
	margin-right: 4px;
}

/* Left and right margin master */

.about, .work, .contact, .resume {
	padding-left: 200px;
	padding-right: 200px;
}

/* Resume */
.resume h1 {
	font-family: "Playfair Display", serif;
	font-size: 40px;
	padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}


embed {
	padding-top: 15px;
	width: 100%;
	height: 500px;
}

/* Mobile responsive design */
@media (max-width: 767px) {
	.about {
		display: block;
		padding: 20px 20px;
	}
	
	.about > img {
		display: block;
		width: 70%;
		height: auto;
	}	

	.social {
		float: none;
	}

	.work {
		display: block;
	}

	.work h1 {
		padding-bottom: 10px;
        border-bottom: none;
	}

	.project {
		margin-bottom: 15px;
	}
	
	.about {
		padding-left: 5%;
		padding-right: 5%;
	}

	.work, .contact, .resume {
		padding-left: calc(5% + 20px);
		padding-right: calc(5% + 20px);
	}
}

/* Tablet responsive design */
@media (min-width: 768px) and (max-width: 1023px) {
	.about {
		display: block;
		padding: 20px 20px;
	}
	
	.about > img {
		display: block;
		width: 60%;
		height: auto;
	}	

	.social {
		float: none;
	}

	.work {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		column-gap: 15px;
		row-gap: 15px;
	}

	.work h1 {
		padding-bottom: 10px;
        border-bottom: none;
	}
	
	.about {
		padding-left: 5%;
		padding-right: 5%;
	}

	.work, .contact, .resume {
		padding-left: calc(5% + 20px);
		padding-right: calc(5% + 20px);
	}
}

.social a {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
  }
  .social a:hover, .social a:focus, .social a:active {
	transform: scale(1.1);
  }
